<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>North Patenga<br>Chittagong, Bangladesh 4204</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/mithu.cste" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/+MdMazharulIslamMithu/" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/mithucste30" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/pub/md-mazharul-islam/51/b51/55b" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>            
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Mazharul</h3>
          <p>Mazharul works as an individual freelancer at <%= link_to "odesk", "https://www.odesk.com/o/profiles/users/_~016830fdbf87a88521/" %>, he specially likes to work in ruby on rails based sites.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; mazharul.me
        </div>
      </div>
    </div>
  </div>
</footer>